
[MESSAGES CONTROL]

disable=
    invalid-name,
    line-too-long,
    missing-docstring,
    too-many-nested-blocks,
    too-many-branches,
    too-many-locals,
    too-many-public-methods,
    too-many-statements

